Flask
Flask-Cors
flask-openapi3
flask-openapi3-swagger
flask-openapi3-redoc
flask-openapi3-rapidoc
flask-openapi3-rapipdf
flask-openapi3-scalar
flask-openapi3-elements
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
nose2
pydantic
six
SQLAlchemy
SQLAlchemy-Utils
typing_extensions
unicode
Werkzeug

requests
dotenv