Flask
Flask-Cors
flask-openapi3
flask-openapi3-swagger
flask-openapi3-redoc
flask-openapi3-rapidoc
flask-openapi3-rapipdf
flask-openapi3-scalar
Flask-SQLAlchemy
Jinja2
MarkupSafe
pydantic
SQLAlchemy
SQLAlchemy-Utils
Werkzeug
requests